<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <div class="block block-base">
    <app-text-control
      formControlName="firstName"
      [label]="'EMPLOYEES.FIRST_NAME' | translate"
      class="flex-1"
    ></app-text-control>
    <app-text-control
      formControlName="lastName"
      [label]="'EMPLOYEES.LAST_NAME' | translate"
      class="flex-1"
    ></app-text-control>
    <app-text-control
      formControlName="email"
      [label]="'EMPLOYEES.EMAIL' | translate"
      class="flex-1"
    ></app-text-control>
  </div>
  <div class="block block-base">
    <app-text-control
      formControlName="institution"
      [label]="'EMPLOYEES.INSTITUTION' | translate"
      class="flex-1"
    ></app-text-control>
    <app-text-control
      formControlName="diplomaProfession"
      [label]="'EMPLOYEES.DIPLOMA_PROFESSIONAL' | translate"
      class="flex-1"
    ></app-text-control>
    <app-text-control
      formControlName="department"
      [label]="'EMPLOYEES.DEPARTMENT' | translate"
      class="flex-1"
    ></app-text-control>
  </div>
  <div class="block block-base">
    <app-select-control
      formControlName="role"
      [label]="'EMPLOYEES.ROLE' | translate"
      class="flex-1"
      [dataSource]="role"
      optionLabelField="name"
      optionValueField="id"
    ></app-select-control>
  </div>

  <div class="languages">
    <div class="languages__form-header form-header">
      {{ 'EMPLOYEES.LANGUAGES' | translate }}
    </div>
    <div class="languages__form-body form-body">
      <div formArrayName="languages" class="block block-base languages__block">
        <div
          *ngFor="let language of getLanguagesControls(); let i = index"
          class="languages__control"
        >
          <app-language-form [formControlName]="i"></app-language-form>
          <app-button (buttonClick)="deleteLanguage(i)"
            ><fa-icon [icon]="faXmark"></fa-icon
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <div class="skills">
    <div class="skills__form-header form-header">
      {{ 'EMPLOYEES.SKILLS' | translate }}
    </div>
    <div class="skills__form-body form-body">
      <div formArrayName="skills" class="block block-base skills__block">
        <div *ngFor="let skill of getSkillsControls(); let i = index" class="skills__control">
          <app-skill-form [formControlName]="i"></app-skill-form>
          <app-button (buttonClick)="deleteSkill(i)"
            ><fa-icon [icon]="faXmark"></fa-icon
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <app-button (buttonClick)="addSkill()"> add skill</app-button>
    <app-button (buttonClick)="addLanguage()"> add language</app-button>
    <app-button type="primary" behaviorType="submit">{{ 'BUTTON.SAVE' | translate }}</app-button>
    <app-button (buttonClick)="backToEmployees()">{{ 'BUTTON.CANCEL' | translate }}</app-button>
  </div>
</form>
