:host {
  height: 100%;
}
.background-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../../imgs/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover cover;
  height: 100%;
}

.language-button {
  display: block;
  position: absolute;
  top: 8px;
  right: 12px;
}
