:host {
  height: 100%;

  .background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover cover;
    height: 100%;
  }
  .form {
    z-index: 10;
  }

  .language-button {
    display: block;
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 9;
  }
  .icon1 {
    position: absolute;
    left: 82.5%;
    right: 2.11%;
    top: 52.78%;
    bottom: 19.22%;
    z-index: 8;
  }
  .icon2 {
    position: absolute;
    left: 74.92%;
    right: 21.03%;
    top: 12.4%;
    bottom: 80.07%;
    z-index: 7;
  }
  .icon3 {
    position: absolute;
    left: 7.13%;
    right: 76.69%;
    top: 16.48%;
    bottom: 62.69%;
    z-index: 6;
  }
  .icon4 {
    position: absolute;
    left: 0.08%;
    right: 89.92%;
    top: 74.1%;
    bottom: 15.6%;
    z-index: 5;
  }
}
