:host {
  display: block;

  .app-button {
    display: block;
    padding: 5px 16px;
    border: 1px solid var(--neutrals-100);

    &.default {
      background-color: var(--neutrals-0);
      color: var(--neutrals-900);

      &:hover {
        color: var(--primary-800);
        border-color: var(--primary-800);
      }

      &:focus {
        color: var(--primary-800);
        border-color: var(--primary-800);
      }

      &:disabled {
        color: var(--neutrals-150);
        border-color: var(--neutrals-150);
      }
    }
    &.dashed {
      border-style: dashed;
      background-color: var(--neutrals-0);
      color: var(--neutrals-900);

      &:hover {
        color: var(--primary-800);
        border-color: var(--primary-800);
      }

      &:focus {
        color: var(--primary-800);
        border-color: var(--primary-800);
      }

      &:disabled {
        color: var(--neutrals-150);
        border-color: var(--neutrals-150);
      }
    }

    &.primary {
      background-color: var(--primary-800);
      color: var(--neutrals-0);
      border-color: var(--primary-800);

      &:hover {
        background-color: var(--neutrals-0);
        color: var(--primary-800);
      }

      &:focus {
        background-color: var(--neutrals-0);
        color: var(--primary-800);
      }

      &:disabled {
        color: var(--neutrals-150);
        background-color: var(--primary-300);
        border-color: var(--primary-300);
      }
    }
    &.link {
      border: 0px;
      background-color: var(--neutrals-0);
      color: var(--primary-800);

      &:hover {
        color: var(--primary-300);
      }

      &:focus {
        color: var(--primary-300);
      }

      &:disabled {
        color: var(--neutrals-150);
      }
    }
  }

  .width-100-procent {
    width: 100%;
  }
  .no-padding {
    padding: 0;
  }
}
