:root {
  --error: #ff4d4f;

  --success: #6bc502;

  --warning: #ffcc00;

  body[data-palette-theme='light'] {
    --primary-300: #b0d8fe;
    --primary-750: #188fff;
    --primary-800: #1890ff;

    --header: #001529;
    --header-on: #fff;

    --neutrals-0: #fff;
    --neutrals-50: #efefef;
    --neutrals-70: #f0f2f5;
    --neutrals-100: #d9d9d9;
    --neutrals-150: #c6c6c6;
    --neutrals-500: #8c8c8c;
    --neutrals-900: #000;
  }

  body[data-palette-theme='dark'] {
    --primary-300: #b4c3d0;
    --primary-750: #6c757d;
    --primary-800: #6c757d;

    --header: #001529;
    --header-on: #fff;

    --neutrals-0: #212529;
    --neutrals-50: #26292e;
    --neutrals-70: #353a3e;
    --neutrals-100: #343a40;
    --neutrals-150: #6c757d;
    --neutrals-500: #ced4da;
    --neutrals-900: #f8f9fa;
  }
}
