<nz-form-item class="app-textarea-control"
              [class]="classNames">
    <nz-form-label *ngIf="label"
                   [nzFor]="elementId"
                   [nzRequired]="required"
                   class="app-textarea-control__label">
        {{ label }}
    </nz-form-label>
    <ng-container *ngIf="formControl.errors | getControlErrorMessage:errorsMap as errorMessageConfig">
        <nz-form-control [nzValidateStatus]="formControl"
                         [nzErrorTip]="errorMessageConfig && (errorMessageConfig.i18nKey || '') | translate:errorMessageConfig?.i18nParams">
            <nz-input-group>
                <textarea nz-input
                          [id]="elementId"
                          [formControl]="formControl"
                          [placeholder]="placeholder"
                          type="textarea"
                          (blur)="onTouched()"
                          class="app-textarea-control__input"></textarea>
            </nz-input-group>
        </nz-form-control>
    </ng-container>
</nz-form-item>