<router-outlet></router-outlet>
<div>
    <div class="block">
        <div class="inner-block"></div>
    </div>
    <button (click)="setDark()">set dark</button>
    <button (click)="setLight()">set light</button>
</div>
<form nz-form
      [formGroup]="fg"
      (ngSubmit)="submitForm()">
    <app-text-control formControlName="control"
                      [label]="'text-control'"></app-text-control>
    <app-textarea-control formControlName="textarea"></app-textarea-control>
    <app-autocomplete-control formControlName="autocomplite"></app-autocomplete-control>
    <app-date-picker-control formControlName="datePicker"
                             [placeholder]="'test'"></app-date-picker-control>
    <app-button behaviorType="submit">add</app-button>
</form>