<app-button (buttonClick)="createProjectRole()">{{ 'BUTTON.EDIT' | translate }}</app-button>
<app-table [source]="projectRoles" [headerItems]="headerData" [rowTemplateRef]="rowRef">
  <ng-template #rowRef let-item>
    <tr>
      <td>{{ item.name }}</td>
      <td>
        <app-button (buttonClick)="updateProjectRole(item.id)">{{
          'BUTTON.EDIT' | translate
        }}</app-button>
      </td>
      <td>
        <app-button (buttonClick)="deleteProjectRole(item.id)">{{
          'BUTTON.REMOVE' | translate
        }}</app-button>
      </td>
    </tr>
  </ng-template>
</app-table>
