<nz-form-item class="app-base-control" [class]="classNames">
  <nz-form-label
    *ngIf="label"
    [nzFor]="elementId"
    [nzRequired]="required"
    class="app-base-control__label"
  >
    {{ label }}
  </nz-form-label>
  <ng-container
    *ngIf="formControl.errors | getControlErrorMessage: errorsMap as errorMessageConfig"
  >
    <nz-form-control
      [nzValidateStatus]="formControl"
      [nzErrorTip]="
        errorMessageConfig && (errorMessageConfig.i18nKey || '')
          | translate: errorMessageConfig?.i18nParams
      "
    >
      <nz-input-group>
        <input
          nz-input
          [id]="elementId"
          [formControl]="formControl"
          [placeholder]="placeholder"
          [nzAutocomplete]="auto"
          type="text"
          (blur)="onTouched()"
          class="app-base-control__input"
        />
        <nz-autocomplete #auto [compareWith]="compareFun">
          <nz-auto-option
            *ngFor="let item of dataSource"
            [nzValue]="item[optionValueField] ?? item"
            [nzLabel]="item[optionLabelField]"
          >
            {{ item[optionLabelField] ?? item }}
          </nz-auto-option>
        </nz-autocomplete>
      </nz-input-group>
    </nz-form-control>
  </ng-container>
</nz-form-item>
