<app-button (buttonClick)="generatePDF()">pdf</app-button>
<div #invoice class="cv">
  <h1 class="cv__title">Innowise</h1>
  <section class="cv__employee cv__section">
    <h2>Employee</h2>
    <h3>{{ data.general.firstName }} {{ data.general.lastName }}</h3>
  </section>

  <section class="cv__education cv__section">
    <h2>Education</h2>
    <div class="cv__info--education">
      <div class="cv__block">
        <h3>Establishment</h3>
        <h4>{{ data.education.establishment }}</h4>
      </div>
      <div class="cv__block">
        <h3>profession</h3>
        <h4>{{ data.education.profession }}</h4>
      </div>
    </div>
  </section>

  <section class="cv__languages cv__section">
    <h2>foreignLanguage</h2>
    <ul>
      <li *ngFor="let lang of data.foreignLanguage">
        <ul class="cv__language">
          <li>
            <h4>{{ lang.name }}</h4>
          </li>
          <li class="cv__block">
            <h3>everydayReadingLevel</h3>
            <h4>{{ lang.everydayReadingLevel }}</h4>
          </li>
          <li class="cv__block">
            <h3>everydaySpeakingLevel</h3>
            <h4>{{ lang.everydaySpeakingLevel }}</h4>
          </li>
          <li class="cv__block">
            <h3>everydayWritingLevel</h3>
            <h4>{{ lang.everydayWritingLevel }}</h4>
          </li>
          <li class="cv__block">
            <h3>professionalReadingLevel</h3>
            <h4>{{ lang.professionalReadingLevel }}</h4>
          </li>
          <li class="cv__block">
            <h3>professionalSpeakingLevel</h3>
            <h4>{{ lang.professionalSpeakingLevel }}</h4>
          </li>
          <li class="cv__block">
            <h3>professionalWritingLevel</h3>
            <h4>{{ lang.professionalWritingLevel }}</h4>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="cv__skills cv__section">
    <h2>skills</h2>
    <ul>
      <li *ngFor="let skill of data.skills">
        <ul>
          <li>
            <h3>skillType</h3>
            <h4>{{ skill.skillType }}</h4>
            <ul>
              <li *ngFor="let skillOfType of skill.skillsOfType">
                <ul>
                  <li class="cv__block">
                    <h3>skillName</h3>
                    <h4>{{ skillOfType.skillName }}</h4>
                  </li>
                  <li class="cv__block">
                    <h3>experienceYears</h3>
                    <h4>{{ skillOfType.experienceYears }}</h4>
                  </li>
                  <li class="cv__block">
                    <h3>level</h3>
                    <h4>{{ skillOfType.level }}</h4>
                  </li>
                  <li class="cv__block">
                    <h3>lastUsedYear</h3>
                    <h4>{{ skillOfType.lastUsedYear }}</h4>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="cv__projects cv__section">
    <h2>projects</h2>
    <ul>
      <li *ngFor="let project of data.projects">
        <div class="cv__block">
          <h3>name</h3>
          <h4>{{ project.name }}</h4>
        </div>
        <div class="cv__block">
          <h3>startDate</h3>
          <h4>{{ project.startDate }}</h4>
        </div>
        <div class="cv__block">
          <h3>endDate</h3>
          <h4>{{ project.endDate }}</h4>
        </div>
        <div class="cv__block">
          <h3>description</h3>
          <p>{{ project.description }}</p>
        </div>
        <div class="cv__block">
          <h3>teamSize</h3>
          <h4>{{ project.teamSize }}</h4>
        </div>
        <div class="cv__block">
          <h3>tasksPerformed</h3>
          <h4>{{ project.tasksPerformed }}</h4>
        </div>
        <h3>specializations</h3>
        <ul>
          <li *ngFor="let specialization of project.specializations">
            <h3>
              {{ specialization }}
            </h3>
          </li>
        </ul>
        <h3>responsibilities</h3>
        <ul>
          <li *ngFor="let responsibility of project.responsibilities">
            <h3>{{ responsibility.name }}</h3>
          </li>
        </ul>
        <h3>projectRoles</h3>
        <ul>
          <li *ngFor="let projectRole of project.projectRoles">
            <h3>{{ projectRole.name }}</h3>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
