<app-button (buttonClick)="createRole()">{{ 'BUTTON.EDIT' | translate }}</app-button>
<app-table [source]="roles" [headerItems]="headerData" [rowTemplateRef]="rowRef">
  <ng-template #rowRef let-item>
    <tr>
      <td>{{ item.name }}</td>
      <td>
        <app-button (buttonClick)="updateRole(item.id)">{{ 'BUTTON.EDIT' | translate }}</app-button>
      </td>
      <td>
        <app-button (buttonClick)="deleteRole(item.id)">{{
          'BUTTON.REMOVE' | translate
        }}</app-button>
      </td>
    </tr>
  </ng-template>
</app-table>
