<form [formGroup]="form">
  <app-text-control
    formControlName="name"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.NAME' | translate"
  >
  </app-text-control>
  <app-text-control
    formControlName="everydayReadingLevel"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.EVERY_DAY.READING' | translate"
  >
  </app-text-control>
  <app-text-control
    formControlName="everydayWritingLevel"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.EVERY_DAY.WRITING' | translate"
  >
  </app-text-control>
  <app-text-control
    formControlName="everydaySpeakingLevel"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.EVERY_DAY.SPEAKING' | translate"
  >
  </app-text-control>
  <app-text-control
    formControlName="professionalReadingLevel"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.PROFESSIONAL.READING' | translate"
  >
  </app-text-control>
  <app-text-control
    formControlName="professionalWritingLevel"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.PROFESSIONAL.WRITING' | translate"
  >
  </app-text-control>
  <app-text-control
    formControlName="professionalSpeakingLevel"
    [label]="'VIRTUAL_CVS.DATA.FOREIGN_LANGUAGE.PROFESSIONAL.SPEAKING' | translate"
  >
  </app-text-control>
</form>
