<div class="base-page">
    <form>
        <app-text-control [label]="'PROJECTS.NAME' | translate"></app-text-control>
        <app-text-control [label]="'PROJECTS.SECOND_NAME' | translate"></app-text-control>
        <app-date-picker-control [label]="'PROJECTS.START_DATE' | translate"></app-date-picker-control>
        <app-date-picker-control [label]="'PROJECTS.END_DATE' | translate"></app-date-picker-control>
        <app-number-control [label]="'PROJECTS.TEAM_SIZE' | translate"></app-number-control>
        <app-textarea-control [label]="'PROJECT.DESCRIPTION' | translate"></app-textarea-control>
        <app-textarea-control [label]="'PROJECT.TASK_PERFORMED' | translate"></app-textarea-control>
        <app-autocomplete-control [label]="'PROJECT.SPECIALIZATION' | translate"></app-autocomplete-control>
        <app-autocomplete-control [label]="'PROJECT.PROJECT_ROLE' | translate"></app-autocomplete-control>
        <app-autocomplete-control [label]="'PROJECT.RESPONSIBILITIES' | translate"></app-autocomplete-control>

    </form>
</div>