:root {
  .palette {
    &-white {
      --error: #ff4d4f;

      --success: #6bc502;

      --header-bg: #001529;

      --header-text: #fff;

      --base-bg: #fff;

      --base-text: #000;

      --base-text-gray: #8c8c8c;

      --placeholder: darken(#fff, 25%);

      --input-border: #d9d9d9;

      --button-bg: #188fff;

      --button-text: #fff;

      --link-text: #1890ff;

      --tab-text: #1890ff;
    }
    &-dark {
      --header-bg: #001529;

      --header-text: #fff;

      --base-bg: #4b4b4b;

      --base-text: #fff;

      --base-text-gray: #cfcfcf;

      --placeholder: darken(#fff, 25%);

      --input-border: #d9d9d9;

      --button-bg: #cfcfcf;

      --button-text: #000;

      --link-text: #cfcfcf;

      --tab-text: #cfcfcf;
    }
  }
}
